@model int

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="treatyId" type="hidden" value="@Model" />
<section>
    <div class="container">
        <h2>Create work package from treaty</h2>
    </div>
</section>

<section>
    <div class="container">
        <h5 class="text-danger" data-bind="visible: isNotValidResponse" style="display:none">Something went wrong.</h5>
        <form data-bind="submit: save">
            <div class="form-group">
                <label>Procedure*</label>
                <p data-bind="text: procedureName"></p>
            </div>
            <div class="form-group">
                <label>Name*</label>
                <input type="text" class="form-control form-control-md" data-bind="textInput: workPackagedThingName" />
            </div>
            <div class="form-group">
                <label>Prefix</label>
                <input type="text" class="form-control form-control-md" data-bind="textInput: treatyPrefix" />
            </div>
            <div class="form-group">
                <label>Number</label>
                <input type="number" class="form-control form-control-md" data-bind="textInput: treatyNumber" />
            </div>
            <div class="form-group">
                <label>Coming into force note</label>
                <input type="text" class="form-control form-control-md" data-bind="textInput: comingIntoForceNote" />
            </div>
            <div class="form-group">
                <label>Coming into force date</label>
                <date-entry params="date: comingIntoForceDate"></date-entry>
            </div>
            <div class="form-group">
                <label>Citation</label>
                <input type="text" class="form-control form-control-md" data-bind="textInput: citation" />
            </div>
            <div class="form-group">
                <label>Series*</label>
                <div class="form-check">
                    <input id="s1" class="form-check-input" type="checkbox" name="series" data-bind="checked: seriesMembershipIds, checkedValue: @((int)SeriesMembershipType.Country)" />
                    <label for="s1">Country</label>
                </div>
                <div class="form-check">
                    <input id="s2" class="form-check-input" type="checkbox" name="series" data-bind="checked: seriesMembershipIds, checkedValue: @((int)SeriesMembershipType.EuropeanUnion)" />
                    <label for="s2">European Union</label>
                </div>
                <div class="form-check">
                    <input id="s3" class="form-check-input" type="checkbox" name="series" data-bind="checked: seriesMembershipIds, checkedValue: @((int)SeriesMembershipType.Miscellaneous)" />
                    <label for="s3">Miscellaneous</label>
                </div>
                <div class="form-check">
                    <input id="s4" class="form-check-input" type="checkbox" name="series" data-bind="checked: seriesMembershipIds, checkedValue: @((int)SeriesMembershipType.Treaty)" />
                    <label for="s4">Treaty</label>
                </div>
            </div>
            <div class="form-group">
                <label>Lead government organisation</label>
                <government-organisation-selector params="governmentOrganisationId: leadGovernmentOrganisationTripleStoreId"></government-organisation-selector>
            </div>
            <div class="form-group">
                <label>Link</label>
                <input type="text" class="form-control form-control-md" data-bind="textInput: webLink" />
            </div>
            <section>
                <button type="submit" class="btn btn-outline-primary btn-sm" data-bind="enable: canSave">Add</button>
                <button data-bind="click: showDeletePopup" type="button" class="btn btn-outline-secondary btn-sm">Delete</button>
            </section>
        </form>
    </div>
</section>

<popup params="popupText:warningText, isPopupVisible:isDeletePopupVisible, action:deleteTreaty, actionText: 'Delete'"></popup>

@section scripts{
    <script data-main="/Scripts/Views/solrfeedtreatyedit.js" src="~/Scripts/require.js"></script>
}
